.nav {
  margin-bottom: 3rem;
}

.main {
  flex: 1;
  max-width: var(--max-width);

  h1 {
    margin-bottom: 1.25rem;
    font-size: 3.125rem;
    font-weight: 700;
    text-align: center;
  }

  h2 {
    margin-bottom: 7.375rem;
    color: rgba(var(--grey-2-rgba));
    font-size: 1.25rem;
    text-align: center;
  }
}

.footer {
  text-align: center;

  p {
    margin-bottom: 1.25rem;
    color: rgba(var(--grey-1-rgba));
    font-size: 0.6875rem;
  }
}

// Mobile, tablet and small desktop */
@media (max-width: 1215px) {
  .main {
    margin-bottom: 3rem;

    h2 {
      margin-bottom: 3rem;
    }
  }
}
