.home {
  h1 {
    margin-top: 3rem;
    margin-bottom: 1.25rem;
    font-size: 3.125rem;
    font-weight: 700;
    text-align: center;
  }

  h2 {
    margin-bottom: 7.375rem;
    color: rgba(var(--grey-2-rgba));
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
  }
}

// Mobile, tablet and small desktop */
@media (max-width: 1215px) {
  .home h2 {
      margin-bottom: 3rem;
  }
}
