.bigChip {
  padding: 0.8em 1.2em;
  background-color: rgb(var(--chip-background-rgb));
  cursor: pointer;
  border: none;
  border-radius: 0.875rem;
  color: rgb(var(--foreground-rgb));
  font-size: 0.875rem;
  font-weight: 700;

  &.active {
    color: rgb(var(--chip-active-color-rgb));
  }

  &:hover {
    filter: brightness(0.88);
  }
}
