.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.875em 1.875em 0 1.875em;

  .main {
    flex: 1;
    max-width: var(--max-width);
  }
  
  .footer {
    text-align: center;
  
    p {
      margin-bottom: 1.25rem;
      color: rgba(var(--grey-1-rgba));
      font-size: 0.6875rem;
    }
  }
  
  // Mobile, tablet and small desktop */
  @media (max-width: 1215px) {
    .main {
      margin-bottom: 3rem;
    }
  }
}
