.loadMore {
  padding: 0.45em 1.2em;
  border: 1px solid rgba(var(--grey-1-rgba));
  border-radius: 0.5rem;
  background-color: transparent;
  cursor: pointer;
  color: rgba(var(--grey-1-rgba));
  font-family: var(--font-helvetica);
  font-size: 0.6875rem;

  &:active,
  &:focus,
  &:focus-visible,
  &:focus-within,
  &:hover,
  &:target {
    border: 1px solid rgb(var(--foreground-rgb));
    color: rgb(var(--foreground-rgb));
  }
}
