.auth {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;

  .user {
    margin-right: 0.75rem;
    font-family: var(--font-rubik);

    .name {
      display: block;
      color: rgb(var(--black-rgb));
      font-size: 1rem;
      font-weight: 700;
    }

    .connect {
      cursor: pointer;
      color: rgba(var(--grey-3-rgba));
      font-size: 0.6875rem;
    }
  }
}
