@keyframes placeHolderAnimation{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}

@mixin animatedBackground {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderAnimation;
  animation-timing-function: linear;
  background: rgb(var(--border-rgb));
  background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  position: relative;
}

.repositoryCard {
  display: flex;
  align-items: stretch;
  margin-bottom: 0.875rem;
  background-color: rgb(var(--card-background-rgb));
  border: 1px solid rgb(var(--border-rgb));
  border-radius: 0.875rem;
  cursor: pointer;

  .repository {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0.7125em 0 0.7125em 0.7125em;

    &:hover + .select {
      display: flex;
      align-items: center;
      animation: fadeIn 0.2s;
    }

    .avatar {
      margin-right: 0.875rem;
      border-radius: 1.375rem;
    }

    .avatarPh {
      @include animatedBackground;
      height: 44px;
      width: 44px;
      margin-right: 0.875rem;
      border-radius: 22px;
    }

    .details {
      flex: 1;
      overflow: hidden;
      min-width: 0;
      margin-right: 0.5rem;
      font-size: 0.875rem;

      .name {
        display: block;
        margin-bottom: 0.3125rem;
        font-weight: 700;
      }

      .namePh {
        @include animatedBackground;
        height: 1.0625rem;
        width: 6rem;
        margin-bottom: 0.3125rem;
      }

      .description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
                line-clamp: 1;
        -webkit-box-orient: vertical;
      }

      .descriptionPh {
        @include animatedBackground;
        height: 1.0625rem;
        width: 16rem;
      }
    }
  }

  .select {
    display: none;
    padding-right: 0.94em;
    font-weight: 700;

    &:hover {
      display: flex;
      align-items: center;
      animation: fadeIn 0.2s;
    }
  }
}
